<!-- each activity on the separate row -->
 <!-- show activity metrics -->
<div class="gridster">
  <ul>
    <%= render partial: "layouts/dashing/activity_metric", collection: $metrics, locals:{activity: activity, index: activity_iteration.index}, as: :metric %>
  </ul>
</div>

<!--
<li data-row="<%= activity_iteration.index+1 %>" data-col="1" data-sizex="1" data-sizey="1">
    <%= render partial: "layouts/dashing/activity_metric_graph", collection: $metrics, locals:{activity: activity}, as: :metric %>
</li>
-->