
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="<%= activity %>" data-view="Number" data-title="<%= activity %>" data-moreinfo="KPI: leads" data-prefix=""></div>
 </li>