<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div id="total" data-id="<%=metric%> Total" data-view="Number" data-title="<%=metric%> total" data-moreinfo="Current Week vs Previous" data-prefix=""></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div id="total" data-id="<%=metric%> vs Target" data-view="Meter" data-title="<%=metric%> vs Target" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
</li>