<div class="row">
   <div class="col-md-8 col-md-offset-1">
      <h2>Editing Activities Metric</h2>
      <%= render 'form' %>
   </div>
 </div>   

<%= link_to 'Show', @activities_metric %> |
<%= link_to 'Back', activities_metrics_path %>
