<div class="row">
   <div class="col-md-6 col-md-offset-1">
      <h2>Editing Metrics Targets</h2>
      <%= render 'form' %>
   </div>
 </div> 

<%= link_to 'Show', @metrics_target %> |
<%= link_to 'Back', metrics_targets_path %>
