<% content_for :title do %>
  My super sweet dashboard
<% end %>

<div id="summary" class="gridster">
  <h1><span style="text-align:center;"> KPI Summary </span></h1>
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Metrics Total" data-view="List" data-unordered="true" data-title="Metrics Total W<%= $current_week %>" data-moreinfo="# KPIs summarised among activities"></div>
    </li>
  </ul>
</div>
<%= render partial: "layouts/dashing/activity", collection: $activities %>
